.people{
    font-size: 30px;
}
.tag{
    font-size: 10px;
    color:orange;
}
.vip{
    color:gold;
    font-size:45px;
    font-weight:bold;
}
.vip::after{
    content:"Owner";
    font-size:10px;
    color:green;
    margin-left: 10px;
}